@tailwind base;
@tailwind components;
@tailwind utilities;

/* @layer base {
  
} */
@layer base {
    
    .bg-hero-pattern {
      background-image: url('/assets/images/hero-image.jpg');
      background-size: cover;
      background-position: center;
    }
  
    .bg-gradient-to-r {
      background-image: linear-gradient(to right, #004d40, #00796b);
    }
  }

  body {
    @apply bg-gray-100 text-gray-900;
    font-family: 'Inter', sans-serif;
    font-family: theme('fontFamily.sans');
  }
  