@tailwind base;
@tailwind components;
@tailwind utilities;

/* @layer base {
  :root {
    --color-primary: #007BFF;
    --color-secondary: #28A745;
    --color-accent: #20C997;
    --color-background: #F8F9FA;
    --color-text-dark: #343A40;
    --color-text-light: #E9ECEF;
  }
} */
@layer base {
    .bg-hero-pattern {
      background-image: url('/assets/images/hero-image.jpg');
      background-size: cover;
      background-position: center;
    }
  
    .bg-gradient-to-r {
      background-image: linear-gradient(to right, #004d40, #00796b);
    }
  }
  